body{
    background-image: url(gettyimages-1431090023-612x612.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#clock-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#clock{
    text-align: center;
    font-family: monospace;
    font-size: 6rem;
    backdrop-filter: blur(5px);
    width: 100%;
}